.header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    height: 10vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
