.fonti{
    font-family: 'Lato', sans-serif;
}
header {
    color: white;
    background-color: black;
    height: 12vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-left: 800px;
    padding-top: 20px;
}
